# General Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Virtual Environment
env/
venv/
.virtualenv/

*.log
*.pot
*.py[co]


# IDE and Editor specific
.vscode/
.idea/
*.swp
*.swo

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db

# Temporary files
*.bak
*.tmp
~*

# Testing related
.coverage
htmlcov/
nosetests.xml
*.cover
*.log
